In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import time
import warnings
warnings.filterwarnings("ignore")
import bs4
from bs4 import BeautifulSoup
import urllib
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd
from selenium.webdriver import ActionChains

Answer of Question No.-1

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [47]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [48]:
rank=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[1]")
for i in rank:
    r=i.text
    Rank.append(r)

name=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]")
for i in name:
    n=i.text
    Name.append(n)

artist=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]")
for i in artist:
    a=i.text
    Artist.append(a)

upload_date=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[5]")
for i in upload_date:
    u=i.text
    Upload_Date.append(u)

views=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[4]")
for i in views:
    v=i.text
    Views.append(v)

In [49]:
print(len(Rank),len(Name),len(Artist),len(Upload_Date),len(Views))

30 30 30 30 30

In [57]:
Most_Viewed_Videos=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload Date":Upload_Date,"Views":Views})

In [58]:
Most_Viewed_Videos

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[19]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[26]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[28]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[34]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[36]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[37]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[38]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[47]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[51]",Enrique Iglesias,"April 11, 2014",3.38

In [66]:
Most_Viewed_Videos.to_csv("Q-1_Most_Viewed_Videos.csv")

Answer of Question No.-2

In [67]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [68]:
driver.get("https://www.bcci.tv/")

In [69]:
menu1=driver.find_element(By.XPATH,'//li[@class="nav-item"]/a')
menu1.click()

In [70]:
menu2=driver.find_element(By.XPATH,'//div[@class="news-tab-inner"]/div/ul/li[1]/a')
menu2.click()

In [107]:
Match_Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [108]:
try:
    match_title=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]/div/span[1]')
    for i in match_title:
        m=i.text
        Match_Title.append(m)
except NoSuchElementException:
    Match_Title.append('-')
    
try:
    place=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]/div/span[3]')
    for i in place:
        p=i.text
        Place.append(p)
except NoSuchElementException:
    Place.append('-')
    
try:
    series=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/h5')
    for i in series:
        s=i.text
        Series.append(s)
except NoSuchElementException:
    Series.append('-')
    
try:
    date=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/div[1]')
    for i in date:
        d=i.text
        Date.append(d)
except NoSuchElementException:
    Date.append('-')
    
try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/div[2]')
    for i in time:
        t=i.text
        Time.append(t)
except NoSuchElementException:
    Time.append('-')

In [110]:
print(len(Match_Title),len(Place),len(Series),len(Date),len(Time))

8 8 8 8 8

In [112]:
Cricket_Fixtures=pd.DataFrame({'Match Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})

In [113]:
Cricket_Fixtures

,Match Title,Series,Place,Date,Time
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,Dominica,12 JUL 2023,7:30 PM IST
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,Trinidad,20 JUL 2023,7:30 PM IST
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,Barbados,27 JUL 2023,7:00 PM IST
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,Barbados,29 JUL 2023,7:00 PM IST
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,Trinidad,1 AUG 2023,7:00 PM IST
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,Trinidad,3 AUG 2023,8:00 PM IST
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,Guyana,6 AUG 2023,8:00 PM IST
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,Guyana,8 AUG 2023,8:00 PM IST

In [114]:
Cricket_Fixtures.to_csv('Q-2_Cricket_Fixtures.csv')

Answer of Question No.-3

In [11]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [12]:
driver.get("http://statisticstimes.com/")

In [13]:
Economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
India=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
ActionChains(driver).move_to_element(Economy).click(India).perform()

In [15]:
s_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
s_gdp.click()

In [56]:
Rank1=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [57]:
rank1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rank1:
    r=i.text
    Rank1.append(r)
    
state=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state:
    s=i.text
    State.append(s)
    
gsdp1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gsdp1:
    g1=i.text
    GSDP1.append(g1)
    
gsdp2=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gsdp2:
    g2=i.text
    GSDP2.append(g2)
    
share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in share:
    sh=i.text
    Share.append(sh)
    
gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in gdp:
    gd=i.text
    GDP.append(gd)

In [58]:
print(len(Rank1),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP))

66 66 66 66 66 66

In [63]:
Rank12=Rank1[0:33]
State1=State[0:33]
GSDP12=GSDP1[0:33]
GSDP22=GSDP2[0:33]
Share1=Share[0:33]
GDP1=GDP[0:33]

In [64]:
India_State_GDP=pd.DataFrame({'Rank':Rank12,'State':State1,'GSDP(18-19) at Current Price':GSDP12,'GSDP(19-20) at Current Price':GSDP22,'Share(18-19)':Share1,'GDP(Billion)':GDP1})

In [65]:
India_State_GDP

,Rank,State,GSDP(18-19) at Current Price,GSDP(19-20) at Current Price,Share(18-19),GDP(Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [66]:
India_State_GDP.to_csv("Q-3_India_State_GDP.csv")

Answer of Question No.-4

In [13]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [14]:
driver.get("https://github.com/")

In [15]:
Open_Source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
Trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
ActionChains(driver).move_to_element(Open_Source).click(Trending).perform()

In [16]:
Repository_Title=[]
Repository_Description=[]
Contributors_Count=[]
Language_Used=[]

In [17]:
try:
    rt=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a/span')
    for i in rt:
        r=i.text
        Repository_Title.append(r)
except NoSuchElementException:
    Repository_Title.append('NA')
    
try:
    rd=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in rd:
        d=i.text
        Repository_Description.append(d)
except NoSuchElementException:
    Repository_Description.append('NA')
    
try:
    cc=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
    for i in cc:
        c=i.text
        Contributors_Count.append(c)
except NoSuchElementException:
    Contributors_Count.append('NA')
    
try:
    lu=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
    for i in lu:
        l=i.text
        Language_Used.append(l)
except NoSuchElementException:
    Language_Used.append('NA')

In [18]:
Repository_Description.insert(8,'NA')

In [19]:
Language_Used.insert(9,'NA')

In [20]:
Language_Used.insert(11,'NA')

In [21]:
Language_Used.insert(12,'NA')

In [22]:
print(len(Repository_Title),len(Repository_Description),len(Contributors_Count),len(Language_Used))

25 25 25 25

In [23]:
GitHub_Repository=pd.DataFrame({'Repository Title':Repository_Title,'Repository Description':Repository_Description,'Contributors Count':Contributors_Count,'Language Used':Language_Used})

In [24]:
GitHub_Repository

,Repository Title,Repository Description,Contributors Count,Language Used
0,sveltejs /,Cybernetically enhanced web apps,"3,492",JavaScript
1,a16z-infra /,A Javascript AI getting started stack for week...,186,TypeScript
2,vllm-project /,A high-throughput and memory-efficient inferen...,126,Python
3,figma /,🔌 Sample Figma plugins.,262,TypeScript
4,google /,GoogleTest - Google Testing and Mocking Framework,"9,549",C++
5,OpenDriveLab /,[CVPR 2023 Best Paper] Planning-oriented Auton...,99,Python
6,csunny /,Revolutionizing Database Interactions with Pri...,677,Python
7,s0md3v /,roop extension for StableDiffusion web-ui,141,Python
8,devfullcycle /,NA,47,TypeScript
9,codecrafters-io /,Master programming by recreating your favorite...,"20,082",NA
10,Jessecar96 /,Desktop implementation of Steam's mobile authe...,571,C#
11,ossu /,🎓 Path to a free self-taught education in Comp...,"18,243",NA
12,TodePond /,perfect programming language,79,NA
13,SkalskiP /,This repository is a curated collection of the...,29,Python
14,serverless-stack /,💥 SST makes it easy to build full-stack server...,"1,414",TypeScript
15,scikit-learn /,scikit-learn: machine learning in Python,"24,366",Python
16,angular /,The modern web developer’s platform,"23,782",TypeScript
17,AUTOMATIC1111 /,Stable Diffusion web UI,"16,659",Python
18,eslint /,Find and fix problems in your JavaScript code.,"4,285",JavaScript
19,loft-sh /,Spin up dev environments in any infra. Dev-env...,65,Go
20,nodejs /,Node.js JavaScript runtime ✨🐢🚀✨,"26,180",JavaScript
21,edtechre /,Algorithmic Trading in Python with Machine Lea...,120,Python
22,veler /,A Swiss Army knife for developers.,816,C#
23,geohot /,You like pytorch? You like micrograd? You love...,"1,615",Python
24,terraform-aws-modules /,Terraform module to create an Elastic Kubernet...,"3,616",HCL

In [25]:
GitHub_Repository.to_csv("Q-4_GitHub_Repository.csv")

Answer of Question No.5

In [26]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [27]:
driver.get("https:/www.billboard.com/")

In [28]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
chart.click()

In [29]:
top=driver.find_element(By.XPATH,'//div[@class="u-flex-grow-0 lrv-u-text-align-center"]')
top.click()

In [62]:
Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_On_Board=[]

In [63]:
sn=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in sn:
    s=i.text
    Song_Name.append(s)
    
an=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in an:
    a=i.text
    Artist_Name.append(a)
    
lw=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in lw:
    w=i.text
    Last_Week_Rank.append(w)
    
pr=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in pr:
    p=i.text
    Peak_Rank.append(p)
    
wb=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in wb:
    b=i.text
    Weeks_On_Board.append(b)

In [64]:
print(len(Song_Name),len(Artist_Name),len(Last_Week_Rank),len(Peak_Rank),len(Weeks_On_Board))

100 100 100 100 100

In [66]:
Top_100_Songs=pd.DataFrame({'Song Name':Song_Name,'Artist Name':Artist_Name,'Last Week Rank':Last_Week_Rank,'Peak Rank':Peak_Rank,'Weeks On Board':Weeks_On_Board})

In [67]:
Top_100_Songs

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Last Night,Morgan Wallen,1,1,20
1,Flowers,Miley Cyrus,2,1,22
2,Fast Car,Luke Combs,4,3,12
3,Calm Down,Rema & Selena Gomez,3,3,41
4,All My Life,Lil Durk Featuring J. Cole,5,2,5
...,...,...,...,...,...
95,Save Me,Jelly Roll With Lainey Wilson,86,86,2
96,Yandel 150,Yandel & Feid,-,71,17
97,Beso,Rosalia & Rauw Alejandro,94,52,12
98,I Wrote The Book,Morgan Wallen,-,18,19
99,Hummingbird,Metro Boomin & James Blake,90,90,2

In [68]:
Top_100_Songs.to_csv("Q-5_Top_100_Songs.csv")

Answer of Question No.-6

In [16]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [17]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [20]:
Book_Name=[]
Author_Name=[]
Volumes_Sold=[]
Publisher=[]
Genre=[]

In [21]:
book_name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for i in book_name:
    bn=i.text
    Book_Name.append(bn)
    
author_name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
for i in author_name:
    an=i.text
    Author_Name.append(an)
    
volumes_sold=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
for i in volumes_sold:
    vs=i.text
    Volumes_Sold.append(vs)
    
publisher=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
for i in publisher:
    pb=i.text
    Publisher.append(pb)

genre=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
for i in genre:
    gn=i.text
    Genre.append(gn)

In [22]:
print(len(Book_Name),len(Author_Name),len(Volumes_Sold),len(Publisher),len(Genre))

100 100 100 100 100

In [27]:
Bestselling_Novels=pd.DataFrame({'Book Name':Book_Name,'Author Name':Author_Name,'Volumes Sold':Volumes_Sold,'Publisher':Publisher,'Genre':Genre})

In [28]:
Bestselling_Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [29]:
Bestselling_Novels.to_csv("Q-6_Bestselling_Novels.csv")

Answer of Question No.-7

In [74]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [75]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [100]:
S_Name=[]
S_Year_Span=[]
S_Genre=[]
S_Run_Time=[]
S_Ratings=[]
S_Votes=[]

In [101]:
S_N=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in S_N:
    s_n=i.text
    S_Name.append(s_n)
    
Y_S=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in Y_S:
    y_s=i.text
    S_Year_Span.append(y_s)
    
S_G=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
for i in S_G:
    s_g=i.text
    S_Genre.append(s_g)
    
R_T=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
for i in R_T:
    r_t=i.text
    S_Run_Time.append(r_t)
    
S_R=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in S_R:
    s_r=i.text
    S_Ratings.append(s_r)
    
S_V=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in S_V:
    s_v=i.text
    S_Votes.append(s_v)

In [102]:
print(len(S_Name),len(S_Year_Span),len(S_Genre),len(S_Run_Time),len(S_Ratings),len(S_Votes))

100 100 100 100 100 100

In [104]:
TV_Series=pd.DataFrame({'TV Series Name':S_Name,'Year Span':S_Year_Span,'Genre':S_Genre,'Run Time':S_Run_Time,'Ratings':S_Ratings,'Votes':S_Votes})

In [105]:
TV_Series

,TV Series Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,172,090"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,250,133"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,031,715"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,381"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,563"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,922"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,962"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,433"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,376"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"259,893"

In [106]:
TV_Series.to_csv("Q-7_TV_Series.csv")

Answer of Question No.-8

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://archive.ics.uci.edu/")

In [4]:
dset=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
dset.click()

In [6]:
UCI_URLS=[]
start=0
end=2
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        UCI_URLS.append(i.get_attribute("href"))
    n_button=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    n_button.click()
    time.sleep(3)

In [7]:
print(len(UCI_URLS))

20

In [8]:
UCI_URLS

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/1/abalone',
 'https://archive.ics.uci.edu/dataset/14/breast+cancer',
 'https://archive.ics.uci.edu/dataset/42/glass+identification',
 'https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data',
 'https://archive.ics.uci.edu/dataset/20/census+income',
 'https://archive.ics.uci.edu/dataset/15/breast+cancer+wisconsin+original',
 'https://archive.ics.uci.edu/dataset/102/thyroid+disease',
 'https://archive.ics.uci.edu/dataset/9/auto+mpg',
 'https://archive.ics.uci.edu/dataset/80/optical+recognition+of+handwritten+digits',
 'https://archive.ics.uci.edu/dataset/94/spambase']

In [9]:
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_Of_Instances=[]
No_Of_Attribute=[]
Year=[]

In [10]:
for url in UCI_URLS:
    driver.get(url)
    time.sleep(3)
    
    try:
        dataset_name=driver.find_elements(By.XPATH,'//div[@class="flex flex-col"]/div[1]/div[2]/div/h1')
        for i in dataset_name:
            d_name=i.text
            Dataset_Name.append(d_name)
    except NoSuchElementException:
        Dataset_Name.append('NA')
        
    try:
        data_type=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        for i in data_type:
            d_type=i.text
            Data_Type.append(d_type)
    except NoSuchElementException:
        Data_Type.append('NA')
        
    try:
        task=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        for i in task:
            tsk=i.text
            Task.append(tsk)
    except NoSuchElementException:
        Task.append('NA')
        
    try:
        attribute_type=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        for i in attribute_type:
            at=i.text
            Attribute_Type.append(at)
    except NoSuchElementException:
        Attribute_Type.append('NA')
        
    try:
        no_of_instances=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        for i in no_of_instances:
            noi=i.text
            No_Of_Instances.append(noi)
    except NoSuchElementException:
        No_Of_Instances.append('NA')
        
    try:
        no_of_attribute=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        for i in no_of_attribute:
            noa=i.text
            No_Of_Attribute.append(noa)
    except NoSuchElementException:
        No_Of_Attribute.append('NA')
        
    try:
        year=driver.find_elements(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div[2]/h2')
        for i in year:
            ye=i.text
            Year.append(ye)
    except NoSuchElementException:
        Year.append('NA')

In [13]:
print(len(Dataset_Name),len(Data_Type),len(Task),len(Attribute_Type),len(No_Of_Instances),len(No_Of_Attribute),len(Year))

20 20 20 20 20 20 20

In [12]:
Year.insert(4,'NA')

In [14]:
UCI_Repository=pd.DataFrame({'Dataset Name':Dataset_Name,'Data Type':Data_Type,'Task':Task,'Attribute_Type':Attribute_Type,'No_Of_Instances':No_Of_Instances,'No_Of_Attribute':No_Of_Attribute,'Year':Year})

In [15]:
UCI_Repository

,Dataset Name,Data Type,Task,Attribute_Type,No_Of_Instances,No_Of_Attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,NA
5,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,Donated on 10/5/2019
6,Wine,Multivariate,Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
9,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987
10,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,Donated on 11/30/1995
11,Breast Cancer,Multivariate,Classification,Categorical,286,9,Donated on 7/10/1988
12,Glass Identification,Multivariate,Classification,Real,214,9,Donated on 8/31/1987
13,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,Donated on 11/16/1994
14,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
15,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,Donated on 7/14/1992
16,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,5,Donated on 12/31/1986
17,Auto MPG,Multivariate,Regression,"Categorical, Real",398,7,Donated on 7/6/1993
18,Optical Recognition of Handwritten Digits,Multivariate,Classification,Integer,5620,64,Donated on 6/30/1998
19,Spambase,Multivariate,Classification,"Integer, Real",4601,57,Donated on 6/30/1999

In [16]:
UCI_Repository.to_csv("Q-8_UCI_Repository.csv")

Answer of Question No.-9

In [22]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [23]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [25]:
JOB_URLS=[]
start=0
end=1
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in url:
        JOB_URLS.append(i.get_attribute("href"))
    n_button=driver.find_element(By.XPATH,'//div[@class="pagination lastCompMark"]/a[2]/span')
    n_button.click()
    time.sleep(3)

In [26]:
JOB_URLS

['https://www.naukri.com/job-listings-hiring-freshers-hr-executive-recruiter-gurugram-acs-advance-career-solutions-gurgaon-gurugram-haryana-0-to-1-years-280623004687',
 'https://www.naukri.com/job-listings-assistant-manager-hr-field-level-recruitment-muthoot-microfin-bhubaneswar-odisha-hubli-karnataka-sambalpur-odisha-ambala-haryana-belagavi-belgaum-karnataka-0-to-2-years-211222009637',
 'https://www.naukri.com/job-listings-hiring-for-hr-ontrack-hr-services-coimbatore-tamil-nadu-0-to-2-years-010623005856',
 'https://www.naukri.com/job-listings-hr-intern-lifecell-chennai-0-to-3-years-080523002156',
 'https://www.naukri.com/job-listings-hr-executive-definedge-solutions-pune-0-to-3-years-290623500790',
 'https://www.naukri.com/job-listings-hr-executive-bonami-software-new-delhi-delhi-ncr-0-to-1-years-290623009070',
 'https://www.naukri.com/job-listings-direct-walk-in-interview-for-hr-executive-female-m2-vending-gurgaon-gurugram-haryana-0-to-1-years-290623004412',
 'https://www.naukri.com/job-listings-hr-payroll-executive-cedcoss-technologies-private-limited-lucknow-0-to-3-years-280623501896',
 'https://www.naukri.com/job-listings-hr-intern-hr-remedy-india-kolkata-mumbai-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-delhi-ncr-0-to-1-years-280623903981',
 'https://www.naukri.com/job-listings-executive-assistant-manager-hr-generalist-pune-dress-code-oasis-pune-maharashtra-0-to-3-years-190523004916',
 'https://www.naukri.com/job-listings-opening-for-management-trainee-executive-hr-sahajanand-medical-technologies-mumbai-all-areas-0-to-2-years-260623002132',
 'https://www.naukri.com/job-listings-recruiter-hr-fashion-tv-india-mumbai-0-to-3-years-290623501797',
 'https://www.naukri.com/job-listings-hr-recruiter-talent-acquisition-fashion-tv-india-mumbai-0-to-3-years-280623500382',
 'https://www.naukri.com/job-listings-human-resource-recruiter-jabalpur-salary-upto-2lpa-kvc-consultants-ltd-jabalpur-0-to-5-years-290623006235',
 'https://www.naukri.com/job-listings-hiring-for-hr-freshers-day-shift-recruiter-black-and-white-business-solutions-bangalore-bengaluru-0-to-0-years-280623008325',
 'https://www.naukri.com/job-listings-hr-associate-trainee-recruiter-ams-human-resources-pvt-ltd-ams-human-resources-pune-0-to-2-years-060722004886',
 'https://www.naukri.com/job-listings-hiring-for-hr-associate-off-role-end-to-end-recruitment-kotak-life-insurance-mumbai-suburban-maharashtra-goregaon-maharashtra-mumbai-all-areas-0-to-2-years-240623004750',
 'https://www.naukri.com/job-listings-hr-recruiter-symphoni-hr-mumbai-all-areas-0-to-3-years-270623008939',
 'https://www.naukri.com/job-listings-hr-assistant-focus-edumatics-pvt-ltd-bangalore-bengaluru-0-to-2-years-290623502172',
 'https://www.naukri.com/job-listings-hr-executive-caliber-organisation-ahmedabad-0-to-1-years-260623904639']

In [27]:
print(len(JOB_URLS))

20

In [44]:
Designation=[]
Company=[]
Experience=[]
CTC=[]
Location=[]
Posted_On=[]
Openings=[]

In [45]:
for url in JOB_URLS:
    driver.get(url)
    time.sleep(3)
    
    try:
        designation=driver.find_elements(By.XPATH,'//div[@class="leftSec"]/section[1]/div[1]/div[1]/header/h1')
        for i in designation:
            des=i.text
            Designation.append(des)
    except NoSuchElementException:
        Designation.append('NA')
        
    try:
        company=driver.find_elements(By.XPATH,'//div[@class="leftSec"]/section[1]/div[1]/div[1]/div[1]')
        for i in company:
            com=i.text
            Company.append(com)
    except NoSuchElementException:
        Company.append('NA')
        
    try:
        experience=driver.find_elements(By.XPATH,'//div[@class="left"]/div[1]/div[1]/span')
        for i in experience:
            exp=i.text
            Experience.append(exp)
    except NoSuchElementException:
        Experience.append('NA')
        
    try:
        ctc=driver.find_elements(By.XPATH,'//div[@class="left"]/div[1]/div[2]/span')
        for i in ctc:
            ct=i.text
            CTC.append(ct)
    except NoSuchElementException:
        CTC.append('NA')
        
    try:
        location=driver.find_elements(By.XPATH,'//div[@class="left"]/div[2]/span')
        for i in location:
            loc=i.text
            Location.append(loc)
    except NoSuchElementException:
        Location.append('NA')
     
    try:
        posted_on=driver.find_elements(By.XPATH,'//div[@class="bottom"]/div/span[1]/span')
        for i in posted_on:
            pos=i.text
            Posted_On.append(pos)
    except NoSuchElementException:
        Posted_On.append('NA')
        
    try:
        openings=driver.find_elements(By.XPATH,'//div[@class="bottom"]/div/span[2]/span')
        for i in openings:
            opn=i.text
            Openings.append(opn)
    except NoSuchElementException:
        Openings.append('NA')

In [48]:
print(len(Designation),len(Company),len(Experience),len(CTC),len(Location),len(Posted_On),len(Openings))

18 18 18 18 18 18 18

In [47]:
Location.insert(15,"Remote")

In [52]:
hr_recruiters_consultants=pd.DataFrame({'Designation':Designation,'Company':Company,'Experience':Experience,'CTC':CTC,'Location':Location,'Posted On':Posted_On,'Openings':Openings})

In [53]:
hr_recruiters_consultants

,Designation,Company,Experience,CTC,Location,Posted On,Openings
0,Hiring Freshers : HR Executive: Recruiter-Guru...,Advance Career Solutions,0 - 1 years,"50,000-2.5 Lacs P.A.","Gurgaon/ Gurugram,Haryana",2 days ago,5
1,Assistant Manager - HR (Field Level Recruitment),Muthoot Microfin4.1468 ReviewsEmployees' choice,0 - 2 years,2.5-4 Lacs P.A.,"Bhubaneswar,Odisha, Hubli,Karnataka, Sambalpur...",7 days ago,1
2,HR Intern,Lifecell3.6444 Reviews,0 - 3 years,Not Disclosed,Hybrid,2 days ago,4
3,HR Executive,Definedge Solutions5.03 Reviews,0 - 3 years,Not Disclosed,Pune,1 day ago,1
4,HR Executive,Bonami Software4.237 Reviews,0 - 1 years,4-5 Lacs P.A.,"New Delhi, Delhi / NCR",1 day ago,5
5,Direct Walk in Interview For HR Executive(Female),m2 Vending3.95 Reviews,0 - 1 years,1.25-2.25 Lacs P.A.,"Gurgaon/ Gurugram,Haryana",1 day ago,1
6,HR Payroll Executive,Cedcoss Technologies3.3170 Reviews,0 - 3 years,Not Disclosed,Lucknow,2 days ago,1
7,HR Intern,HR Remedy India,0 - 1 years,Not Disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 days ago,404
8,Executive/ Assistant Manager HR Generalist - P...,OASIS3.960 Reviews,0 - 3 years,5-6 Lacs P.A.,"Pune,Maharashtra( Koregaon Park )",9 days ago,4196
9,Opening For Management Trainee / Executive - HR,Sahajanand Medical Technologies3.8115 Reviews,0 - 2 years,Not Disclosed,Mumbai (All Areas),4 days ago,162
10,Recruiter - HR,Fashion Tv India4.3140 Reviews,0 - 3 years,Not Disclosed,Mumbai,1 day ago,1
11,HR Recruiter - Talent Acquisition -,Fashion Tv India4.3140 Reviews,0 - 3 years,Not Disclosed,Mumbai,2 days ago,1
12,Hiring For HR freshers / Day shift / Recruiter,Black And White Business Solutions,0 years,Not Disclosed,"Bangalore/Bengaluru( 1st Stage Indira Nagar, V...",2 days ago,129
13,HR Associate / Trainee Recruiter (AMS Human Re...,Ams Human Resources,0 - 2 years,Not Disclosed,Pune( Baner Pashan Link Road ),1 day ago,1
14,Hiring For HR Associate | Off-Role | End-To-En...,Kotak Life Insurance3.91940 Reviews,0 - 2 years,Not Disclosed,"Mumbai Suburban,Maharashtra, Goregaon,Maharash...",6 days ago,348
15,HR Recruiter,Symphoni Hr,0 - 3 years,1-2 Lacs P.A.,Remote,3 days ago,7
16,HR Assistant,Focus Edumatics3.0525 Reviews,0 - 2 years,Not Disclosed,Bangalore/Bengaluru,1 day ago,1
17,HR Executive,Caliber Organisation3.84 Reviews,0 - 1 years,Not Disclosed,Ahmedabad,4 days ago,121

In [54]:
hr_recruiters_consultants.to_csv("Q-9_hr_recruiters_consultants.csv")